.patient__list__details__container {
    position: relative;
    display: grid;
    grid-template-columns: 30vh 1fr;
    grid-gap: 0px 10px;
    height: 100%;
    padding: 10px;
}

.patient__list__details__left__wrapper {
    background-color: #f8f8f8;
    padding-top: 15rem;
}

.left_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.patient__list__details__right__wrapper {
    background-color: rgb(243, 243, 243);
}


.patient__list__personal__details__wrapper {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    height: auto;
    margin-bottom: 2rem;
}   

.patient_personal_details_input {
    display: grid;
}

.patient__list__chronic__diseases__wrapper {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    border: 1px solid black;
    border-top: 1px solid white;
    background-color: rgb(255, 255, 255);
    height: 30rem;
}

.patient_chronic_diseases_input {
    position: relative;
}


.patient__list__header {
    text-align: right;
    background-color: #E8E8E8;
    height: 50px;
    font-size: 22px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid black;
    padding: 5px 20px;
}

.patient__list__header__chronic {
    text-align: right;
    background-color: #E8E8E8;
    height: 50px;
    font-size: 20px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    padding: 8px 10px;
    text-align: center;
}

.patient__list__header__chronic {
    text-align: right;
    background-color: #E8E8E8;
    height: 50px;
    font-size: 20px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    padding: 8px 10px;
    text-align: center;
}




/* .input__section__wrapper {

} */

.input__section {
    text-align: center;
    margin-top: 10px;
    display: flex;
    height: 40px;
}

.input__section input {
    padding: 5px 15px;
    text-align: right;
    font-size: 15px;
    width: 90%;
    border: 2px solid black;
    margin: 0 auto;
}

.input__section input:focus {
    outline: none;
}

.input__section button {
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 2px;
    border: 2px solid black;
    outline: none;
    transition: 0.2s;
}

.input__section button:hover {
    background-color: #ffa1a1;
    color: white;
}

.item_list_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.item_list_wrapper span {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

.item_list_wrapper button {
    padding: 5px;
    border-radius: 20%;
    cursor: pointer;
}

.item_list_wrapper button:hover {
    background-color: rgb(179, 179, 179);
}

.icon-trash-style {
    color: rgb(0, 0, 0);
}








