.form-control {
    margin: 1rem 0;
    text-align: right;
}
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
    margin: 12px;
  }
  
  .form-control label {
    font-weight: bold;
  }
  
  .form-control input,
  .form-control textarea {
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.5rem;
    text-align: right;
  }
  
.formControl-category select {
  position: relative;
  width: 30%;
  font-size: 22px;
  
  z-index: 100;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

.form-control input[type=checkbox] {
  width: 10%;
  transform: translateY(-25px);
  height: 20px;
  float: right;
}